<!DOCTYPE html>
<html>
<head>
  <title>is it popular?</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
  <h1>is <span id="site">it</span> popular<span class="punctuation">?</span></h1>
  <p id="error">&nbsp;<%= flash[:error] %></p>
  <%= yield %>
</body>
</html>
